<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="contact-form shadow p-4 mb-3 bg-white rounded">
                <h2 class="mb-4 text-center">Contacto</h2>
                <form [formGroup]="form">
                    <div class="mb-3">
                        <label for="fromName" class="form-label">Tu nombre:</label>
                        <input type="text" id="fromName" formControlName="fromName" name="fromName" required
                            class="form-control" placeholder="Introduce tu nombre" />
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Tu correo:</label>
                        <input type="email" id="email" formControlName="email" name="email" required
                            class="form-control" placeholder="Introduce tu correo" />
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Mensaje:</label>
                        <textarea id="message" formControlName="message" name="message" maxlength="200" required
                            class="form-control" rows="5" placeholder="Escribe tu mensaje"></textarea>
                        <span class="text-muted">{{form.controls.message.value?.length}}/200</span>
                    </div>
                    <div class="d-grid">
                        <button type="button" (click)="sendEmail()" [disabled]="!form.valid" class="btn btn-dark">Enviar
                            correo</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="text-center mb-3">
    <a [routerLink]="['/']" class="btn btn-dark">
        Volver a la página principal
    </a>
</div>